* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* font-family: "Noto Serif", serif; */
  background-color: #f5f8ff;
}
/* navbar section */
nav {
  max-width: 1140px;
  margin: 30px auto 120px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#navbar-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#navbar-right ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

#navbar-right ul li {
  margin-right: 48px;
}
.navbar-cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navbar-logo {
  max-width: 135px;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
}
